  <table id="table" class="table table-hover table-dark">
    <thead>
      <tr >
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Email</th>
        <th scope="col">Contato</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <th scope="row">1</th>
        <td>João</td>
        <td>Paulo</td>
        <td>@joao-paulo</td>
        <td>9988-2211</td>
      </tr>
      <tr >
        <th scope="row">2</th>
        <td>Maria</td>
        <td>Da Siva</td>
        <td>@maria-silva</td>
        <td>9898-6633</td>
      </tr>
      <tr >
        <th scope="row">3</th>
        <td>José</td>
        <td>Ferreira</td>
        <td>@jose-ferreira</td>
        <td>8877-1010</td>
      </tr>
      <tr >
        <th scope="row">1</th>
        <td>Ana</td>
        <td>Clara</td>
        <td>@ana-clara</td>
        <td>8911-0055</td>
      </tr>
    </tbody>
  </table>
